.btn-main {
  background-color: var(--primary);
  color: black;
  font-weight: 600;
  border-radius: 20px;
  width: 160px;
  height: 40px;
}

.btn-out {
  color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 160px;
  height: 40px;
}
