.container-lg h2 {
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.container-lg p {
  font-weight: 200;
  color: white;
}

.container-nav {
  height: 120px;
}

.container-top {
  width: 60%;
  margin-left: 126px;
  padding-top: 50px;
}

.container-top p {
  font-size: 18px;
  font-weight: 300;
}

.container-assessment-list {
  height: 600px;
  background-color: white;
}

.container-why-us {
  height: 600px;
  background-color: var(--secondary);
}

.ml-60 {
  margin-left: 60px;
}

.bg-white {
  background-color: white;
}

.container-assessment {
  height: 300px;
  margin-top: 140px;
}

.row-assessment {
  height: 100%;
  margin-right: 30px;
  margin-left: 138px;
}

.row-assessment h2 {
  font-weight: bold;
  font-size: 24px;
  width: 225px;
}

.row-assessment p {
  font-size: 16px;
  color: #888693;
}

.button-a {
  border: 0;
  height: 200px;
  width: 180px;
}

.top-height {
  height: 60px;
}

.spiritual-color {
  color: #250f65;
}

.behavioral-color {
  color: #080314;
}

.motivational-color {
  color: #103f08;
}

.emotional-color {
  color: #790906;
}
/* #080314 */

.highlight {
  background-color: var(--primary);
}

.question-field-container {
  border-radius: 15px;
  width: 1000px;
}

.question-field {
  height: 400px;
  border-radius: 15px;
  width: 1000px;
}

.full-height {
  height: 70px;
}

.side-arrow-button {
  width: 60px;
  border-radius: 100px;
  height: 60px;
  background-color: var(--bg);
  border-color: var(--bg);
}

.side-arrow {
  font-size: 30px;
  color: white;
}

.submit-button {
  width: 120px;
  height: 40px;
}

.progress-bar-container {
  height: 3px;
  border-radius: 0.8em;
  width: 600px;
  border-color: var(--bg);
  margin: auto;
}
.progressbar {
  background-color: var(--bg);
  border-color: var(--bg);
}

.card-title-width {
  width: 1000px;
}

.behavioral-step {
  display: none;
}

.behavioral-step:active {
  display: block;
}

.deactivated-button {
  display: none;
}

.deactivated-button:active {
  display: block;
}

.list-group-behavioral {
  cursor: pointer;
  user-select: none;
  width: 40rem;
  font-weight: 500;
  height: 3.5rem;
  width: 33rem;
}

.behavioral-buttons > button {
  width: 10rem;
}

.disabled {
  color: gray;
  cursor: default;
}

.custom-border {
  /* border: 1px solid black; */
  list-style-type: none;
  border: solid 0.2rem var(--primary);
  border-radius: 0.5rem;
  width: 25rem;
}

.custom-border-disabled {
  list-style-type: none;
  border: dotted 0.2rem gray;
  border-radius: 0.5rem;
  cursor: default;
  width: 25rem;
}

.custom-border-transition {
  list-style-type: none;
  border: dotted 0.2rem var(--primary);
  border-radius: 0.5rem;
  cursor: default;
  width: 25rem;
}

.custom-border-transition-change {
  list-style-type: none;
  border: solid 0.2rem var(--primary);
  border-radius: 0.5rem;
  width: 25rem;
}

/* solid only when its active and dotted when unactive. */

.custom-width-col {
  width: 15rem;
}

@media only screen and (max-width: 1300px) {
  .list-group-behavioral {
    width: 20rem;
  }
}

@media only screen and (max-width: 955px) {
  .list-group-behavioral {
    width: 15rem;
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 743px) {
  .list-group-behavioral {
    width: 10rem;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 530px) {
  .list-group-behavioral {
    width: 8rem;
    height: 3rem;
    font-size: 0.4rem;
    font-weight: bold;
  }
  /* buttons should become smaller also */
}
